# Handling Missing Values

In [ ]:
# Basic imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Importing our DataFrame

df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
# Here we're just adding missing values in DF for practise (IGNORE)


# Sample DataFrame similar to your description
data = {
    'RowNumber': range(1, 10001),
    'CustomerId': range(100000, 110000),
    'Surname': ['Surname']*10000,
    'CreditScore': np.random.randint(300, 850, size=10000),
    'Geography': np.random.choice(['France', 'Spain', 'Germany'], size=10000),
    'Gender': np.random.choice(['Male', 'Female'], size=10000),
    'Age': np.random.randint(18, 80, size=10000),
    'Tenure': np.random.randint(0, 10, size=10000),
    'Balance': np.random.uniform(0, 250000, size=10000),
    'NumOfProducts': np.random.randint(1, 4, size=10000),
    'HasCrCard': np.random.randint(0, 2, size=10000),
    'IsActiveMember': np.random.randint(0, 2, size=10000),
    'EstimatedSalary': np.random.uniform(10000, 150000, size=10000),
    'Exited': np.random.randint(0, 2, size=10000)
}

df = pd.DataFrame(data)

In [27]:
# Introduce missing values in 'Gender'
missing_gender_indices = np.random.choice(df.index, size=54, replace=False)
df.loc[missing_gender_indices, 'Gender'] = np.nan

 # Introduce missing values in 'Age'
missing_age_indices = np.random.choice(df.index, size=300, replace=False)
df.loc[missing_age_indices, 'Age'] = np.nan

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,100000,Surname,715,Germany,Male,38.0,2,149748.037017,1,1,0,146049.500765,0
1,2,100001,Surname,639,Spain,Female,31.0,0,192410.447859,1,0,1,102658.832879,0
2,3,100002,Surname,490,France,Male,35.0,7,220213.515594,1,0,1,103597.102738,1
3,4,100003,Surname,595,France,Male,23.0,2,121159.353310,2,0,1,15978.135191,0
4,5,100004,Surname,339,Germany,Male,75.0,6,59874.906656,1,0,0,124274.937029,0

# Gender has 54 missing values
# Age has 300 missing values

In [8]:
df.isnull().sum()

RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender              54
Age                300
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

# Handling Missing Values

1. Deleting the columns with missing data

In [9]:
updated_df = df.dropna(axis=1)

In [11]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

The problem with this method is that we may lose valuable information on that feature, as we have deleted it completely due to some null values.

Should only be used if there are too many null values.

## 2. Deleting the rows with missing data

In [13]:
updated_df.dropna(axis=0)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,100000,Surname,715,Germany,2,149748.037017,1,1,0,146049.500765,0
1,2,100001,Surname,639,Spain,0,192410.447859,1,0,1,102658.832879,0
2,3,100002,Surname,490,France,7,220213.515594,1,0,1,103597.102738,1
3,4,100003,Surname,595,France,2,121159.353310,2,0,1,15978.135191,0
4,5,100004,Surname,339,Germany,6,59874.906656,1,0,0,124274.937029,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,109995,Surname,354,France,9,183215.136496,2,1,0,81796.753384,0
9996,9997,109996,Surname,797,Germany,3,146591.825675,1,0,0,62248.589981,1
9997,9998,109997,Surname,569,Germany,6,118590.371051,2,0,0,44333.596078,1
9998,9999,109998,Surname,387,Germany,0,109055.954413,2,1,0,56825.771409,0
9999,10000,109999,Surname,381,Germany,2,85573.732633,2,0,0,145509.772110,1

In [14]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

## Filling Missing Values With Imputation

In [15]:
df['Age'].mean()

48.15917525773196

In [17]:
df['Age'].median()

48.0

In [20]:
# fillna: Fills the missing values

updated_df = df
updated_df['Age'] = updated_df['Age'].fillna(updated_df['Age'].mean())
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [22]:
updated_df1 = df
updated_df1['Age'] = updated_df1['Age'].fillna(updated_df1['Age'].median())
updated_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

## 4. Forward & Backward Filling – Imputation

In [24]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              9700 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [29]:
# bfill: Backward Filling

df1 = df
df1['Age'] = df1['Age'].bfill()

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [31]:
# ffill(): Forward Filling

df1['Age'] = df1['Age'].ffill()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9946 non-null   object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB